POC/templates/template-service-account-sfn-test-stage-one.json
{
  "Comment": "Use Athena to query files in xxxuserxxx-xxxhostxxx-xxxbucketxxx that have been moved to Glacier",
  "StartAt": "create database",
  "States": {
    "create database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution",
      "Parameters": {
        "QueryString": "create database if not exists xxxuserxxx",
        "WorkGroup": "xxxuserxxx"
      },
      "Next": "create Athena queries",
      "ResultPath": null
    },
    "create Athena queries": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "TableName": "xxxhostxxx",
          "BucketName": "xxxuserxxx-xxxhostxxx-xxxinventoryxxx",
          "HiveDir": "xxxuserxxx-xxxhostxxx-xxxbucketxxx/xxxuserxxx-xxxhostxxx-daily/hive/dt={}-01-00/",
          "RestoreList.$": "$.RestoreList"
        },
        "FunctionName": "arn:aws:lambda:xxxregionxxx:xxxaccountidxxx:function:createAthenaQueries:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "load schema",
      "Comment": "look for latest S3 inventory",
      "OutputPath": "$.Payload"
    },
    "load schema": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryExecutionContext": {
          "Database": "xxxuserxxx"
        },
        "QueryString.$": "$.QuerySchema",
        "WorkGroup": "xxxuserxxx"
      },
      "ResultPath": null,
      "OutputPath": "$.QueryInventory",
      "Next": "iterate over each string"
    },
    "iterate over each string": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "query inventory",
        "States": {
          "query inventory": {
            "Type": "Task",
            "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
            "Parameters": {
              "QueryExecutionContext": {
                "Database": "xxxuserxxx"
              },
              "QueryString.$": "$.SearchString",
              "WorkGroup": "xxxuserxxx"
            },
            "End": true,
            "ResultSelector": {
              "ResultsFile.$": "$.QueryExecution.ResultConfiguration.OutputLocation",
              "State.$": "$.QueryExecution.Status.State"
            }
          }
        }
      },
      "Next": "notify user"
    },
    "notify user": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:xxxregionxxx:xxxaccountidxxx:xxxuserxxx-xxxhostxxx-xxxowner_notifyxxx",
        "Subject": "job has completed",
        "Message.$": "$"
      },
      "Next": "delete inventory table"
    },
    "delete inventory table": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryExecutionContext": {
          "Database": "xxxuserxxx"
        },
        "QueryString": "drop table xxxhostxxx",
        "WorkGroup": "xxxuserxxx"
      },
      "Next": "drop database"
    },
    "drop database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution",
      "Parameters": {
        "QueryString": "drop database xxxuserxxx",
        "WorkGroup": "xxxuserxxx"
      },
      "End": true
    }
  }
}