POC/templates/self-service/sfn-full-monty.json
{
  "Comment": "Use Athena to query files in xxxuserxxx-xxxhostxxx-xxxbucketxxx that have been moved to Glacier",
  "StartAt": "create Athena queries",
  "States": {
    "create database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution",
      "Parameters": {
        "QueryString.$": "States.Format( 'create database if not exists {}', $.QueryDatabase )",
        "WorkGroup": "xxxuserxxx"
      },
      "Next": "load schema",
      "ResultPath": null
    },
    "create Athena queries": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "UserName": "xxxuserxxx",
          "HostName": "xxxhostxxx",
          "BackupBucket": "xxxuserxxx-xxxhostxxx-xxxbucketxxx",
          "InventoryBucket": "xxxuserxxx-xxxhostxxx-xxxinventoryxxx",
          "HiveDir": "xxxuserxxx-xxxhostxxx-xxxbucketxxx/xxxuserxxx-xxxhostxxx-daily/hive/dt={}-01-00/",
          "RestoreList.$": "$.RestoreList",
          "ReportsDir": "xxxreportsxxx/xxxuserxxx/xxxhostxxx/"
        },
        "FunctionName": "arn:aws:lambda:xxxregionxxx:xxxaccountidxxx:function:createAthenaQueries:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "create database",
      "Comment": "look for latest S3 inventory",
      "OutputPath": "$.Payload"
    },
    "load schema": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryExecutionContext": {
          "Database.$": "$.QueryDatabase"
        },
        "QueryString.$": "$.QuerySchema",
        "WorkGroup": "xxxuserxxx"
      },
      "ResultPath": null,
      "OutputPath": "$.QueryInventory",
      "Next": "iterate over each string"
    },
    "iterate over each string": {
      "Type": "Map",
      "ItemsPath": "$.QueryList",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "query inventory",
        "States": {
          "query inventory": {
            "Type": "Task",
            "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
            "Parameters": {
              "QueryExecutionContext": {
                "Database.$": "$.QueryDatabase"
              },
              "QueryString.$": "$.SearchString",
              "WorkGroup": "xxxuserxxx"
            },
            "End": true,
            "ResultSelector": {
              "ResultsFile.$": "$.QueryExecution.ResultConfiguration.OutputLocation",
              "State.$": "$.QueryExecution.Status.State"
            }
          }
        }
      },
      "Next": "notify user search",
      "ResultPath": "$.taskresult"
    },
    "notify user search": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:xxxregionxxx:xxxaccountidxxx:xxxuserxxx-xxxhostxxx-xxxowner_notifyxxx",
        "Subject": "search results ready",
        "Message.$": "$.taskresult"
      },
      "Next": "drop database",
      "ResultPath": null
    },
    "drop database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution",
      "Parameters": {
        "QueryString.$": "States.Format( 'drop database {} cascade', $.QueryList[0].QueryDatabase )",
        "WorkGroup": "xxxuserxxx"
      },
      "Next": "transform Athena output to S3 Batch input",
      "ResultPath": null,
      "OutputPath": "$.taskresult"
    },
    "transform Athena output to S3 Batch input": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:xxxregionxxx:xxxaccountidxxx:function:createS3BatchInput:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "iterate over Athena output files"
    },
    "iterate over Athena output files": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "submit S3 Batch restore job",
        "States": {
          "submit S3 Batch restore job": {
            "Type": "Task",
            "End": true,
            "Parameters": {
              "AccountId": "xxxaccountidxxx",
              "ClientRequestToken.$": "$.FileToken",
              "ConfirmationRequired": "False",
              "Manifest": {
                "Spec": {
                  "Format": "S3BatchOperations_CSV_20180820",
                  "Fields": [
                    "Bucket",
                    "Key",
                    "VersionId"
                  ]
                },
                "Location": {
                  "ObjectArn.$": "$.ResultsFile",
                  "ETag.$": "$.ETag"
                }
              },
              "Operation": {
                "S3InitiateRestoreObject": {
                  "ExpirationInDays": 7,
                  "GlacierJobTier": "BULK"
                }
              },
              "Priority": 10,
              "Report": {
                "Bucket": "arn:aws:s3:::xxxreportsxxx",
                "Prefix": "xxxuserxxx/xxxhostxxx",
                "Format": "Report_CSV_20180820",
                "Enabled": "True",
                "ReportScope": "FailedTasksOnly"
              },
              "RoleArn": "arn:aws:iam::xxxaccountidxxx:role/xxxuserxxx-xxxhostxxx-restore-s3batch-perms-role"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3control:createJob",
            "ResultSelector": {
              "JobId.$": "$.JobId",
              "AccountId": "xxxaccountidxxx"
            }
          }
        }
      },
      "ItemsPath": "$.CreateJobItems",
      "Next": "wait 10 minutes"
    },
    "wait 10 minutes": {
      "Type": "Wait",
      "Seconds": 600,
      "Next": "poll job status"
    },
    "poll job status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:xxxregionxxx:xxxaccountidxxx:function:pollCreateJobStatus:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.notifyUser",
          "IsPresent": true,
          "Next": "notify user finished"
        }
      ],
      "Default": "wait 1 hour"
    },
    "wait 1 hour": {
      "Type": "Wait",
      "Seconds": 3600,
      "Next": "poll job status"
    },
    "notify user finished": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$.notifyUser",
        "Subject": "xxxuserxxx xxxhostxxx restore completed",
        "TopicArn": "arn:aws:sns:xxxregionxxx:xxxaccountidxxx:xxxuserxxx-xxxhostxxx-xxxowner_notifyxxx"
      },
      "End": true
    }
  },
  "TimeoutSeconds": 86400
}